**/.gradle
**/gradle/
**/gradlew
**/gradlew.bat
**/target/
**/build/
**/out/
**/outputs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


springboot-batch-partition-fileinput/gradle/wrapper/gradle-wrapper\.jar

springboot-batch-partition-fileinput/gradle/wrapper/gradle-wrapper\.properties

springboot-batch-partition-fileinput/gradlew\.bat




**/application-qa.properties
/pro06-request-with-jwt/src/main/resources/application-local.properties
/pro06-request-with-jwt/response01.json
/pro06-request-with-jwt/response02.json
/pro06-request-with-jwt/special_diff_case/
/pro06-request-with-jwt/diff/
